html {
    /* background-color: #4faaad; */
}

a, a:visited, a:focus, a:hover {
    text-decoration: none;
}

.vh-100 {
    height: 100vh;
    max-height: 100vh;
}

::-webkit-input-placeholder {
    text-align: center;
 }